<%- include('inc/header.ejs') -%>


    <!----------------------------------------
           Navigation section 
---------------------------------------->
<%- include('inc/navbar.ejs') -%>

    <!----------------------------------------
           slider section
---------------------------------------->

    <section class="slider text-center" id="slider">
        <div class="slider-overlay">
            <div class="slider-content">
                <!-- <div class="icons">
                    <i class=" fa fa-apple"></i>
                    <i class=" fa fa-android"></i>
                    <i class=" fa fa-windows"></i>
                </div> -->

                <div class="text"></div>

                <div class="cta-div">
                    <a href="/contact" class="btn1 cta">CONTACT US !</a>
                    <a href="" class="btn2 cta">SHOP NOW !</a>
                </div>

                <div class="social-links">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-twitter"></a>
                    <a href="" class="fa fa-windows"></a>
                    <a href="" class="fa fa-reddit"></a>
                    <a href="" class="fa fa-linkedin"></a>
                    <a href="" class="fa fa-cog"></a>
                </div>
            </div>
        </div>
    </section>

    <!----------------------------------------
           Categories section 
---------------------------------------->
<%- include('inc/category.ejs') -%>
<br>
    <!----------------------------------------
           Featured section 
---------------------------------------->
    <div class="cover">
        <div class="feature">
            <img src="img/f4.jpg" alt="">
            <div class="title__filter"></div>
            <div class="feature__title">
                <div class="date">
                    <div class="date_filter"></div>
                    <h3>30
                        <span>Jan</span>
                    </h3>
                </div>
                <p>by
                    <a href="#">Mandiora</a>
                    <span></span>Breakfast Meals
                    <span></span>
                    <a href="#">213 Views</a>
                </p>
                <h1>Baked Bacon with orange</h1>
            </div>
        </div>

        <div class="feature">
            <img src="img/f1.jpg" alt="">
            <div class="title__filter"></div>
            <div class="feature__title">
                <div class="date">
                    <div class="date_filter"></div>
                    <h3>30
                        <span>Jan</span>
                    </h3>
                </div>
                <p>by
                    <a href="#">Mandiora</a>
                    <span></span>Breakfast Meals
                    <span></span>
                    <a href="#">213 upvotes</a>
                </p>
                <h1>Baked Bacon with lemon Rosemary</h1>
            </div>
        </div>
        <div class="feature">
            <img src="img/f3.jpg" alt="">
            <div class="title__filter"></div>
            <div class="feature__title">
                <div class="date">
                    <div class="date_filter"></div>
                    <h3>30
                        <span>Jan</span>
                    </h3>
                </div>
                <p>by
                    <a href="#">Mandiora</a>
                    <span></span>Breakfast Meals
                    <span></span>
                    <a href="#">213 upvotes</a>
                </p>
                <h1>Baked Bacon with Salad </h1>
            </div>
        </div>
        <div class="feature">
            <img src="img/f2.jpg" alt="">
            <div class="title__filter"></div>
            <div class="feature__title">
                <div class="date">
                    <div class="date_filter"></div>
                    <h3>30
                        <span>Jan</span>
                    </h3>
                </div>
                <p>by
                    <a href="#">Mandiora</a>
                    <span></span>Breakfast Meals
                    <span></span>
                    <a href="#">213 upvotes</a>
                </p>
                <h1>Bacon with lemon Leave</h1>
            </div>
        </div>
    </div>

     <!----------------------------------------
           Blog Post section 
---------------------------------------->
<%- include('inc/post.ejs') -%>

    <!----------------------------------------
           Teams section 
---------------------------------------->
    <br>
    <!-- <section class="teams">
        <div class="container text-center">
            <h2>
                <b>MEMBERS</b>
            </h2>
            <p>The most hard working board members</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="team-members" class="owl-carousel owl-theme">
                        <div class="team-member text-center">
                            <img src="img/team-1.jpg" alt="" srcset="" class="img-responsive">
                            <div class="team-member-info text-center">
                                <h4 class="team-member-name">Harmoine</h4>
                                <h4 class="team-member-designation">CEO</h4>
                            </div>
                            <ul class="social-icon-list">
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-member text-center">
                            <img src="img/team-2.jpg" alt="" srcset="" class="img-responsive">
                            <div class="team-member-info text-center">
                                <h4 class="team-member-name">Nuke Mary</h4>
                                <h4 class="team-member-designation">co-founder</h4>
                            </div>
                            <ul class="social-icon-list">
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-member text-center">
                            <img src="img/team-3.jpg" alt="" srcset="" class="img-responsive">
                            <div class="team-member-info text-center">
                                <h4 class="team-member-name">Jhonson Rhoda</h4>
                                <h4 class="team-member-designation">Sr Developer</h4>
                            </div>
                            <ul class="social-icon-list">
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-member text-center">
                            <img src="img/team-4.jpg" alt="" srcset="" class="img-responsive">
                            <div class="team-member-info text-center">
                                <h4 class="team-member-name">Uhana Ruth</h4>
                                <h4 class="team-member-designation">Sr Designer</h4>
                            </div>
                            <ul class="social-icon-list">
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-member text-center">
                            <img src="img/team-5.jpg" alt="" srcset="" class="img-responsive">
                            <div class="team-member-info text-center">
                                <h4 class="team-member-name">Nera Seth</h4>
                                <h4 class="team-member-designation">Sales</h4>
                            </div>
                            <ul class="social-icon-list">
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-icon icon-gray">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->



   
  


    <!----------------------------------------
           Subscribe section 
---------------------------------------->
    <section class="subscribe" id="subscribe">
        <div class="row">
            <div class="subscribe-info">
                <div class="col-md-8 col-md-offset-2">
                    <form action="">
                        <div class="form-input">
                            <div class="col-md-8 col-sm-8 col-xs-7">
                                <input type="email" name="subscribe" placeholder="enter your email" class="form-control" id="subscribe">

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-2">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

<!----------------------------------------
           Blog side section 
---------------------------------------->


<%-include('inc/footer.ejs')-%>
















  